<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioBuilder</title>
    <%# <meta name="viewport" content="width=device-width,initial-scale=1"> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Favicons -->
    <link href="MyResume/assets/img/favicon.png" rel="icon">
    <link href="MyResume/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="MyResume/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="MyResume/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="MyResume/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="MyResume/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="MyResume/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="MyResume/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="MyResume/assets/css/style.css" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>

  <!-- Vendor JS Files -->
  <script src="MyResume/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="MyResume/assets/vendor/aos/aos.js"></script>
  <script src="MyResume/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="MyResume/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="MyResume/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="MyResume/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="MyResume/assets/vendor/typed.js/typed.min.js"></script>
  <script src="MyResume/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="MyResume/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="MyResume/assets/js/main.js"></script>

</html>
